// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import './variables.scss';

* {
  font-family: 'Proxima Nova', sans-serif;
  color: white;
}

.tracks::-webkit-scrollbar {
  width: 1em;
}

.tracks::-webkit-scrollbar-track {
  color: white;
}

.tracks::-webkit-scrollbar-thumb {
  background-color: $spotify-green;
  border-radius: 1em;
  border: 2px solid $base-color;
}

.login {
  background-color: $base-color;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    font-weight: 600;
    font-size: 125%;
    text-decoration: none;
    display: inline-block;
    background: $spotify-green;
    color: white;
    padding: 1em 2em;
    border-radius: 2em
  }

  a:hover, a:focus {
    text-decoration: none;
    filter:brightness(1.1)
  }
}

.Home {
  background-color: $base-color;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .profile-display {
    margin-left: 2rem;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    align-items: flex-end;

    .profile-picture {
      height: 200px;
      width: auto;
      border-radius: 50%;
    }
    h1.profile-display-name {
      font-size: 5rem;
      margin: 0;
    }
    p {
      margin:0
    }
  }

  .tracks {
    padding: 2em;
    width: auto;
    height: 70%;
    z-index: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    overflow-y: scroll;

    .track-container {
      display: flex;
      gap: 1em;

      .album-cover:hover {
        border: 1px solid white;
      }

      .track-info {
        margin: 0;
        padding: 0;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            margin: .3em 0;
          }
        }
      }
    }

    .review-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 2;

      .review-background {
        width: 100%;
        height: 100%;

        background-color: black;
        filter: opacity(.50);
        z-index: 3;
      }

      .review {
        width: 60vw;
        min-width: 300px;
        height: auto;
        background-color: white;
        box-shadow: 5px 5px 5px black;
        border: 1px solid white;
        border-radius: .5em;
        filter: opacity(2);

        position: absolute;
        top: 45vh;
        left: 20vw;

        z-index: 4;

        ul {
          list-style: none;

          li {
            margin-bottom: 1em;
            color: $base-color;
          }
        }
      }

      .review-form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 1em;
        gap: 1em;

        * {
          color: $base-color;
          font-size: 1rem;
        }
        input[type='submit'],
        input[type='reset'] {
          padding: .5em 1em;
        }
      }

      .close-review-btn {
        z-index: 4;
        background-color: transparent;
        border: none;
        position: absolute;
        right: 14vw;
        top: 41vh;
        font-size: 2em;
        font-weight: bold;
      }

      button.close-review-btn:hover {
        cursor: pointer;
        color: $green-mid;
      }
    }
  }
}


.app-link {
  color: $base-color;
}

.nav {
  * {
    color: white;
  }
  height: 65px;
  width: 100%;
  background-color: $base-color;
  // border-bottom: 1px solid $turqoise;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    gap: 2rem;

    li {
      font-weight: 500;
    }

    a:link {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    a:active {
      text-decoration: underline;
    }
  }
  
  button#logout-btn {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-right: 1rem;
    border: 0;
    border-radius: .25rem;
    padding: .5rem 1rem;
    background-color: $base-color;
    // box-shadow: 1px 1px 1px;

    
  }
  button:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.profile-display {
  margin-bottom: 2em;
}



img.album-cover {
  height: 200px;
  width: 200px;
  object-fit: scale-down;
  background-color: $base-color;
  box-shadow: 5px 5px 5px black;
  border: 1px solid transparent;
}
